[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
gender-guesser = "*"
xlrd = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"
flask = "*"
lxml = "*"
pandas = "*"
xlwt = "*"

[requires]
python_version = "3.6"
