<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      
    <!-- Link Bootstrap JS and JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 



    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    
    
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/jumbotron/">

    <title> carte_feminin</title>

    <!-- Bootstrap core CSSgrenob -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrapsearch.css')}}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename= 'css/jumbotron.css')}}" rel="stylesheet">


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#"> Cartographie</a>
        </div>
  
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>  Cartographie des rues féminines </h1>
        <p>  sensibiliser et développer l'égalité dans le quotidien  .</p>
        <h4> l'égalité femmes-hommes..?? </h4>
        
        
        <p><a class="btn btn-primary btn-lg" href="/street" role="button">Découvrez la Carte !.  &raquo;</a></p>
 
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/static/Screenshot_2020-04-05_16-48-03.png">
        <img src="/static/Screenshot_2020-04-05_16-48-03.png" alt="Lights" style="width:100%">
        <div class="caption">
          <p></p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/static/Screenshot_2020-04-05_21-52-46.png" >
        <img src="/static/Screenshot_2020-04-05_21-52-46.png"  alt="Nature" style="width:100%">
        <div class="caption">
          <p></p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/static/Screenshot_2020-04-05_22-06-44.png">
        <img src="/static/Screenshot_2020-04-05_22-06-44.png" alt="Fjords" style="width:100%">
        <div class="caption">
          <p></p>
        </div>
      </a>
    </div>
  </div>
</div>
<di/>
</div>

    <footer>
        <p>&copy; 2020 turbine.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
  </body>
</html>
